[package]
authors = ["Michael Bryan <michaelfbryan@gmail.com>"]
description = "An EPUB renderer for mdbook."
name = "mdbook-epub"
version = "0.4.37"
readme = "README.md"
license = "MIT"
repository = "https://github.com/Michael-F-Bryan/mdbook-epub"
documentation = "https://docs.rs/mdbook-epub"
keywords = ["epub", "mdbook", "documentation"]
categories = ["command-line-interface", "development-tools"]
edition = "2021"

[package.metadata.release]
sign-commit = true

[badges]
travis-ci = { repository = "Michael-F-Bryan/mdbook-epub", branch = "master" }
maintenance = { status = "actively-developed" }

[[bin]]
name = "mdbook-epub"
doc = false

[dependencies]
eyre = "0.6"
epub-builder = "0.7"
thiserror = "1.0.49"
pulldown-cmark = "0.9.3"
semver = "1.0.17"
serde = { version = "1.0.163", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0.96"
structopt = "0.3.26"
mime_guess = "2.0"
env_logger = "0.10.0"
log = "0.4.17"
mdbook = { version = "0.4.37", default-features = false }
handlebars = "4.3.7"
toml = "0.5.11" # downgraded due to parent 'mdbook' dependency and error there
html_parser = "0.7.0"
url = "2.3"
ureq = "2.5"
const_format = "0.2.31"

[dev-dependencies]
tempdir = "0.3.7"
epub = "2.1.1"
serial_test = "2.0.0"
mockall = "0.11"
env_logger = "0.10.0"
