[package]
authors = ["Michael Bryan <michaelfbryan@gmail.com>"]
build = "build.rs"
description = "An EPUB backend for mdbook."
name = "mdbook-epub"
version = "0.1.0"

[[bin]]
name = "mdbook-epub"
doc = false

[build-dependencies]
cargo = "0.24.0"

[dependencies]
epub-builder = "0.3.0"
failure = "0.1.1"
failure_derive = "0.1.1"
pulldown-cmark = "0.1.0"
semver = "0.9.0"
serde = "1.0.24"
serde_derive = "1.0.24"
serde_json = "1.0.8"
structopt = "0.1.6"
structopt-derive = "0.1.6"

[dependencies.mdbook]
git = "https://github.com/rust-lang-nursery/mdbook"

[patch.crates-io.pulldown-cmark]
git = "https://github.com/google/pulldown-cmark"
