name: Rust

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Rust
      uses: actions/checkout@v2
    - name: Install cargo version
      uses: dtolnay/rust-toolchain@stable
    - name: Install epub checker
      run: sudo apt-get update -y && sudo apt-get upgrade -y && sudo apt-get install -y epubcheck
#    - name: Install cargo audit
#      run: cargo install cargo-audit
    - name: Show rust version
      run: cargo --version
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run Clippy
      run: cargo clippy -- --no-deps -Dwarnings
#    - name: Audit
#      run: cargo audit
#    - name: Rust format
#      run: cargo fmt --check
